<% content_for :product do %>
    <div class='row' id='featuresHeading' xmlns="http://www.w3.org/1999/html">
        <div class="col-12">
            <h2>More Products</h2>
          <p class="lead">
            RandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandomRandom
          </p>
        </div><!--end col2-->
    </div>
    <!--end featuresHeading-->

    <div class='row' id="features" >

      <%@products.each do |product|%>

        <div class="col-sm-3 feature">
          <form id="<%= product.id%>">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"><%= product.name%></h3>
            </div><!--end-panel-heading-->
            <img src="<%= product.image_url  %>" alt="<%= product.name %>" class="img-circle"
                 width="100" height="100">
            <hr>
            <%if product.product_stocks.count > 0 %>
            <select id="<%= product.id%>-qty" class="form-control">
              <%product.product_stocks.each do |product_stock|%>
                  <option value="<%= product_stock.available_stock_in_grams%>">
                    <%= product_stock.available_stock_in_grams%>
                  </option>
              <%end%>
            </select>
            <%end%>
            <hr>
            <button id = 'create_btn' value="submit"
                    onclick="addToCart(<%= product.id%>)" class="btn btn-warning btn-block">Add To Cart</button>

          </div>
          </form>

        </div> <!--end-feature-->


      <%end%>
    </div>
      <!--<div id="button-more" onclick=load_page();>-->
        <!--Load more items-->
      <!--</div>-->
      <!--<div id="loading-div">-->
        <!--loading more items-->
      <!--</div>-->
    <!--</div>-->
    <div class='pagination' id='pagination'>
    <ul class="pagination" id="page1">
      <%@product_pages = @all_product_count/12 %>
      <% @product_pages.times do |number|%>
          <li><a href="/product/fruits?page_number=<%= number%>"><%= number+1%></a></li>
      <% end%>
      <%unless @all_product_count - @product_pages == 0 %>
          <li><a href="/product/fruits?page_number=<%= @product_pages%>"><%= @product_pages+1%></a></li>
      <% end%>
    </ul>
    </div>
    <script>


        load_page.counter = 2;
        function load_page()
        {
            $(document).ready(function(){
                $('#button-more').on('click', function(event){
                    var page = 2,
                            loadingId = "#loading-div",
                            container = "#features";
                    var url_page = '/products/partial_page?page_number=' + load_page.counter;
                    $.ajax({
                        type: 'get',
                        url: url_page,
                        success: function(response){
                            if (!response || response.trim() == "NONE") {
                                $("#button-more").fadeOut();
                                $(loadingId).text("No more entries to load!");
                                return;
                            }
                            appendContests(response);
                        },
                        error: function(xhr){
                            $(loadingId).text("Sorry, there was some error with the request. Please refresh the page.");
                        }
                    })

                })

            })
            return false;
        }

            function appendContests(response){
                $('#button-more').show();
                $("#loading-div").hide();

                $(response).appendTo($('#features'));
                load_page.counter++;
            }





        function addToCart(id)
        {   alert(id);
            $(document).ready(function(){

                $('#create_btn').on('click', function(event){
                    var form = $("#"+id);
                    alert(id);
//                    console.log(form.attr('action'));
//                    event.preventDefault();
//                    $("#create_btn").attr("disabled", true);
//                    $.ajax({
//                        type: 'post',
//                        url: form.attr('action'),
//                        data: form.serialize(),
//                        success: function(data){
//                            console.log(data);
//                            $('#temp').html("Hello!! "+data.user_name + ", your login succesfully created." +
//                            "               Please login with your username and password.");
//                        },
//                        error: function(xhr, status, error){
//                            $("#temp").attr("hidden", false);
//                            $('#temp').html(xhr.responseText);
//                        },
//                        dataType: 'JSON'
//                    })
//                    $("#create_btn").attr("disabled", false);
//                $('#sign_up_form')[0].reset();
                })

            })
            return true;
        }



    </script>
<% end %>
